@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color:#fff;
}

#login-div {
    z-index: 2;
    position: absolute;
    top: 3%;
    left: 85%;
}


.hidden {
    display: none;
}

#greeting {
    position: absolute;
    top: 65%;
}

.googleSearchBox {
    position: absolute;
    
    top:50%;
    
}


.bgImg {
    background-size: 200px;
}


#box {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #FFF;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8rem 16rem;
}
#clock{
    font-family: 'Nanum Myeongjo', serif;
    font-size:8rem
}


.centerBox {
    display:flex;
    justify-content: center;
}

#quote {
    color : #fff;
    font-size:3rem;
    font-family: 'Nanum Brush Script', cursive;
    position: absolute;
    text-align: center;
    animation: fadeIn 5s ease-in-out;
    bottom: 3rem;
}

#author {
    font-size:2rem
}

@keyframes fadeIn {
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut {
    from{
        opacity:1;
    }
    to{
        opacity: 0;
    }
}

@keyframes sidebarAnimation {
    from{
        left:-280px;
        
    }
    to{
        left:0px;
    }
}